@import "../styles/variables";

@import "../styles/variables";

.howContent {
  font-family: $font-family-title;
  font-size: $font-size-large;
  padding-top: 15%;
  padding-left: 40%;
  border: none;
}
