@import "./styles/variables";

.app {
  text-align: center;
  background-color: $brand-primary;
  font-size: $font-size-large;
  font-family: $font-family-base;
}

.appContainer {
  margin-top: $spacer;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 80%;
}

.modal {
  z-index: 4;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $brand-disabled;
}

.disclaimer {
  padding: $spacer * 0.5;
  width: 80%;
  text-align: justify;
  background-color: #000;
  font-family: $font-family-base;
  font-size: $font-size-root;
  margin-bottom: $spacer;
}

.note {
  color: $brand-secondary;
  font-weight: 800;
}
